/*******************************************
----------- Utilities
*******************************************/
.selector {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/******* Containers *******/
.container {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}

/******* Font *******/
.h2 {
  font-size: 56px;
  color: #EB9E71;
}
@media screen and (max-width: 800px) {
  .h2 {
    font-size: 35px;
  }
}

.h3 {
  font-size: 55px;
  margin: 20px;
}

.h4 {
  font-size: 39px;
  color: white;
  margin: 0 20px 0 0;
}

.h5 {
  font-size: 16px;
  margin: 0;
}

.h6 {
  font-size: 14px;
  margin: 0;
}

.h24 {
  font-size: 24px;
  margin: 30px 0;
}
@media screen and (max-width: 800px) {
  .h24 {
    margin: 10px 0;
  }
}

.txt {
  font-size: 16px;
}

.uppercase {
  text-transform: uppercase;
}

.orange {
  color: #EB9E71;
}

/******* Button *******/
.btn {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid;
  border-radius: 4px;
}

.btn-main {
  border-color: #111;
  background-color: #111;
  color: #fff;
}
.btn-main:hover {
  background-color: #fff;
  color: #111;
}

.btn-second {
  border-color: #111;
  background-color: #fff;
  color: #111;
}

.btn-full {
  width: 100%;
  text-align: center;
}

.link {
  text-decoration: underline;
}

/*******************************************
----------- Header
*******************************************/
.header {
  padding: 16px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 160px;
}

.header__nav-item {
  display: inline-block;
  margin-left: 8px;
}
.header__nav-item:first-child {
  margin-left: 0;
}
.header__nav-item a {
  display: block;
  padding: 8px 16px;
}

/*******************************************
----------- Banner
*******************************************/
.banner {
  padding: 64px 0;
  background: center/cover no-repeat url("../img/placeholder-image.png");
}

.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  align-items: center;
}

.banner__content a:not(:first-of-type) {
  margin-left: 8px;
}

/*******************************************
----------- Intro
*******************************************/
.intro {
  padding: 64px 0 220px;
  background-color: #EB9E71;
}
.intro .heading, .intro .txt {
  text-align: center;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}
@media screen and (max-width: 1300px) {
  .intro__wrapper {
    flex-direction: column;
  }
}
.intro__wrapper .title-left {
  width: 35%;
}
@media screen and (max-width: 1300px) {
  .intro__wrapper .title-left {
    width: 100%;
  }
}
.intro__wrapper .title-left h1 {
  font-size: 103px;
  color: white;
  font-weight: 100;
}
@media screen and (max-width: 1200px) {
  .intro__wrapper .title-left h1 {
    font-size: 84px;
  }
}
@media screen and (max-width: 800px) {
  .intro__wrapper .title-left h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 600px) {
  .intro__wrapper .title-left h1 {
    font-size: 40px;
  }
}

.intro__wrap-items {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  width: 50%;
}
@media screen and (max-width: 1300px) {
  .intro__wrap-items {
    flex-direction: column;
    width: 100%;
  }
}
.intro__wrap-items .intro__item {
  display: flex;
  margin: 35px 0;
}
@media screen and (max-width: 700px) {
  .intro__wrap-items .intro__item {
    flex-direction: column;
    align-items: center;
  }
}
.intro__wrap-items .intro__item-txt {
  width: 50%;
  color: white;
  margin-left: 50px;
}
@media screen and (max-width: 1200px) {
  .intro__wrap-items .intro__item-txt {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .intro__wrap-items .intro__item-txt {
    text-align: center;
  }
}
.intro__wrap-items .intro__item img {
  width: 160px;
  height: 153px;
}

.intro__btn {
  margin-top: 32px;
}

/*******************************************
----------- Prices
*******************************************/
.prices {
  padding: 64px 0;
}
.prices .heading {
  text-align: center;
}

.prices__wrapper {
  position: relative;
}

.prices__cards {
  display: flex;
  width: 75%;
  height: 685px;
  max-width: 100%;
  background-color: #FCF6F2;
  margin: 0 auto;
  position: absolute;
  top: -210px;
  left: 13%;
}
@media screen and (max-width: 950px) {
  .prices__cards {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 950px) {
  .prices__cards .mobile-gap {
    margin: 40px auto;
    border-top: 2px solid #EB9E71;
  }
}

.prices__card {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .prices__card {
    width: auto;
  }
}
.prices__card .prices__card-icon {
  display: block;
  max-width: 100px;
  margin: 0 auto;
}
.prices__card-line {
  margin-top: 130px;
}
@media screen and (max-width: 950px) {
  .prices__card-line {
    display: none;
  }
}
.prices__card-line img {
  height: 460px;
}
.prices__card .condition {
  position: absolute;
  bottom: 30px;
}
@media screen and (max-width: 950px) {
  .prices__card .condition {
    position: relative;
    bottom: 0;
  }
}

.prices__card-items {
  margin-top: 32px;
  padding: 0 32px;
}

.prices__card-item {
  display: flex;
}
.prices__card-item:not(:first-child) {
  margin-top: 16px;
}
.prices__card-item.not-include {
  opacity: 0.4;
}
.prices__card-item .txt {
  margin-left: 16px;
  text-transform: uppercase;
}

.prices__card-price {
  margin-top: 32px;
  text-align: center;
  font-size: 43px;
  text-transform: uppercase;
}

.prices__wrap-cta {
  width: auto;
  margin: 32px auto 0 auto;
}
.prices__wrap-cta a {
  color: black;
}
.prices__wrap-cta img {
  margin-left: 20px;
}

.gap {
  margin-top: 100px;
}

/*******************************************
----------- Reviews
*******************************************/
.reviews {
  padding: 450px 0 64px;
}
@media screen and (max-width: 1200px) {
  .reviews {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 950px) {
  .reviews {
    padding: 650px 0 64px;
  }
}
.reviews .heading {
  text-align: center;
}

.reviews__brands {
  display: flex;
  align-items: center;
  column-gap: 32px;
  margin: 32px 20px 0;
}

.reviews__brand {
  text-align: center;
  width: 20%;
}
.reviews__brand img {
  width: auto;
}

.reviews__wrap-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin: 100px 15% 0;
}
@media screen and (max-width: 1200px) {
  .reviews__wrap-reviews {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .reviews__wrap-reviews {
    margin: 50px 15% 0;
  }
}

.reviews__review {
  padding: 60px;
  border: 1px solid #EB9E71;
}
@media screen and (max-width: 1200px) {
  .reviews__review {
    margin: 25px 0;
    padding: 20px;
  }
}
.reviews__review .review-head {
  display: flex;
}
.reviews__review .review-head .head-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.reviews__review .txt {
  padding: 35px 0 0;
  margin-left: 70px;
}
@media screen and (max-width: 1400px) {
  .reviews__review .txt {
    margin: 0;
    padding: 20px;
  }
}

/*******************************************
----------- Help
*******************************************/
.help {
  padding: 64px 0;
}

.help__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10%;
  align-items: center;
}

.help__cta {
  margin-top: 32px;
}

/*******************************************
----------- Blog
*******************************************/
.blog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: auto;
}
@media screen and (max-width: 1150px) {
  .blog__wrapper {
    max-width: 95%;
  }
}

.blog__title,
.blog__description {
  text-align: center;
}

.blog__posts {
  display: flex;
  flex-direction: column;
  column-gap: 16px;
  margin-top: 32px;
  width: 75%;
}
@media screen and (max-width: 1500px) {
  .blog__posts {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .blog__posts {
    flex-direction: row;
  }
}
@media screen and (max-width: 800px) {
  .blog__posts {
    flex-direction: column;
  }
}
.blog__posts .blog__post {
  display: flex;
  margin: 5px 0;
}
@media screen and (max-width: 1200px) {
  .blog__posts .blog__post {
    flex-direction: column;
    width: 75%;
    margin: auto;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .blog__posts .blog__post {
    width: 100%;
    margin-bottom: 50px;
  }
}
.blog__posts .blog__post .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCF6F2;
  width: 100%;
  padding: 0 60px;
}
@media screen and (max-width: 1200px) {
  .blog__posts .blog__post .content {
    flex-direction: column;
    height: 300px;
    width: 219px;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .blog__posts .blog__post .content {
    position: relative;
    top: -20px;
    width: 80%;
    justify-content: start;
    height: 215px;
  }
}
.blog__posts .blog__post .content .round {
  position: absolute;
  left: -30px;
}
@media screen and (max-width: 1200px) {
  .blog__posts .blog__post .content .round {
    left: 75px;
    top: -10px;
  }
}
@media screen and (max-width: 800px) {
  .blog__posts .blog__post .content .round {
    position: relative;
    top: -10px;
    left: 0;
  }
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .blog__posts .blog__post .content-txt {
    padding: 10px;
  }
}
.blog__posts .blog__post .content a {
  color: black;
}
.blog__posts .blog__post .content img {
  margin-left: 20px;
}

.blog__wrap-cta {
  position: relative;
}
@media screen and (max-width: 1200px) {
  .blog__wrap-cta {
    bottom: 25px;
  }
}
@media screen and (max-width: 800px) {
  .blog__wrap-cta {
    margin-top: 50px;
  }
}
.blog__wrap-cta .sousligne {
  position: absolute;
  bottom: -15px;
  left: -5px;
  width: 100px;
}

.blog__post-cta {
  margin-top: 32px;
}

.blog__cta {
  margin-top: 32px;
}

/*******************************************
----------- Footer
*******************************************/
.footer__wrapper {
  padding: 64px 0;
}
.footer__wrapper-nav {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.footer__wrapper-nav .footer__logo {
  width: 160px;
}
.footer__wrapper-nav .footer__nav-items {
  display: flex;
  margin: auto;
}
.footer__wrapper-nav .footer__nav-items:first-child {
  margin-left: 0;
}
.footer__wrapper-nav .footer__nav-items a {
  display: block;
  padding: 8px 16px;
}
.footer__wrapper .newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__wrapper .newsletter__form {
  width: 35%;
}
.footer__wrapper .newsletter__form input[type=text] {
  width: 60%;
  padding: 12px;
  border: none;
  background-color: #F2F2F2;
}
.footer__wrapper .newsletter__form input[type=text]::placeholder {
  color: #C4C4C4;
}
.footer__wrapper .newsletter__form input[type=submit] {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 12px;
  margin-left: -4px;
}

.footer__socials {
  display: flex;
}

.footer__social {
  width: 32px;
}
.footer__social:not(:first-child) {
  margin-left: 8px;
}

.copyright {
  padding: 16px 0;
  background-color: #F2F2F2;
}
.copyright__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__items .footer__nav-items {
  display: flex;
}
.copyright__items .footer__nav-items a {
  display: block;
  padding: 8px 16px;
}

/*# sourceMappingURL=style.css.map */
