/*******************************************
----------- Utilities
*******************************************/



/******* Containers *******/
.container {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}


/*******************************************
----------- Header
*******************************************/
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 160px;
}

.header__nav-item {
  display: inline-block;
  margin-left: 8px;
  &:first-child {
    margin-left: 0;
  }
  a {
    display: block;
    padding: 8px 16px;
  }
}

/*******************************************
----------- Intro
*******************************************/
.intro {
  width: 100%;
  text-align: center;
  .btn {
    margin: auto;
    margin-top: 25px;
    a {
      text-transform: none;
      color: black;
      padding: 12px;
      background-color: transparent;
      border: 2px solid red;
    }
  }
}

/*******************************************
----------- Solutions
*******************************************/
.solutions {
  width: 100%;
  text-align: center;
  &__cards {
    display: flex;
    width: 55%;
    margin: auto;
    &-basic,&-premium {
      border: 2px solid black;
      width: 100%;
      margin: 5px;
      .head h1 {
        margin: 0;
        background-color: red;
      }
      .body p {
        padding: 0 50px;
      }
      .begin {
        background-color: red;
      }
    }
  }
}

/*******************************************
----------- Blog
*******************************************/
.blog {
  width: 100%;
  text-align: center;
  &__posts {
    display: flex;
    width: 75%;
    margin: auto;
    &-item {
      width: 70%;
      background-color: red;
      margin: 5px;
    }
  }
}