/*******************************************
----------- Utilities
*******************************************/

/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}
// exemple
.selector {
  @include prefix(transform, rotate(45deg), webkit ms);
}

/******* Containers *******/
.container {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}

/******* Font *******/

.heading {

}

.h1 {

}

.h2 {

}

.h3 {

}

.txt {

}

.txt-small {

}

/******* Button *******/

.btn {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid;
  border-radius: 4px;
}

.btn-main {
  border-color: #111;
  background-color: #111;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #111;
  }
}

.btn-second {
  border-color: #111;
  background-color: #fff;
  color: #111;
}

.btn-full {
  width: 100%;
  text-align: center;
}

.link {
  text-decoration: underline;
}


/*******************************************
----------- Header
*******************************************/

.header {
  padding: 16px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 160px;
}

.header__nav-item {
  display: inline-block;
  margin-left: 8px;
  &:first-child {
    margin-left: 0;
  }
  a {
    display: block;
    padding: 8px 16px;
  }
}


/*******************************************
----------- Banner
*******************************************/

.banner {
  padding: 64px 0;
}

.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  align-items: center;
}

.banner__content a:not(:first-of-type) {
  margin-left: 8px;
}


/*******************************************
----------- Intro
*******************************************/

.intro {
  padding: 64px 0;
  .heading, .txt {
    text-align: center;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__wrap-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
  margin-top: 32px;
}

.intro__btn {
  margin-top: 32px;
}


/*******************************************
----------- Prices
*******************************************/

.prices {
  padding: 64px 0;
  .heading {
    text-align: center;
  }
}

.prices__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  width: 656px;
  max-width: 100%;
  margin: 0 auto;
}

.prices__card {
  background-color: #eee;
  padding: 16px;
  .prices__card-icon {
    display: block;
    max-width: 100px;
    margin: 0 auto;
  }
}

.prices__card-items {
  margin-top: 32px;
  padding: 0 32px;
}

.prices__card-item {
  display: flex;
  &:not(:first-child) {
    margin-top: 16px;
  }
  &.not-include {
    opacity: 0.4;
  }
  img {
    width: 16px;
    height: auto;
  }
  .txt {
    margin-left: 16px;
  }
}

.prices__card-price {
  margin-top: 32px;
  text-align: center;
}

.prices__wrap-cta {
  width: 80%;
  margin: 32px auto 0 auto;
  .btn {
    text-align: center;
  }
}


/*******************************************
----------- Reviews
*******************************************/

.reviews {
  padding: 64px 0;
  background-color: #F2F2F2;
  .heading {
    text-align: center;
  }
}

.reviews__brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 32px;
  margin-top: 32px;
}

.reviews__brand {
  text-align: center;
  img {
    width: 180px;
  }
}

.reviews__wrap-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin-top: 32px;
}

.reviews__review {
  padding: 16px;
  background-color: #C4C4C4;
}


/*******************************************
----------- Help
*******************************************/

.help {
  padding: 64px 0;
}

.help__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10%;
  align-items: center;
}

.help__cta {
  margin-top: 32px;
}


/*******************************************
----------- Blog
*******************************************/

.blog {
  padding: 64px 0;
}

.blog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__title,
.blog__description {
  text-align: center;
}

.blog__posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  margin-top: 32px;
}

.blog__post-cta {
  margin-top: 32px;
}

.blog__cta {
  margin-top: 32px;
}


/*******************************************
----------- Footer
*******************************************/

.footer {
  padding: 64px 0;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
}
