/*******************************************
----------- Utilities
*******************************************/

/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

/******* Fonts *******/

/* Kobe */

@font-face {
	font-family: 'Kobe';
	src: url('../fonts/Kobe-Regular.eot');
	src: url('../fonts/Kobe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Kobe-Regular.woff2') format('woff2'),
		url('../fonts/Kobe-Regular.woff') format('woff'),
		url('../fonts/Kobe-Regular.ttf') format('truetype'),
		url('../fonts/Kobe-Regular.svg#Kobe-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

/* Gilroy */

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff'),
		url('../fonts/Gilroy-Regular.ttf') format('truetype'),
		url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.eot');
	src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff'),
		url('../fonts/Gilroy-Medium.ttf') format('truetype'),
		url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy-Bold.ttf') format('truetype'),
		url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}


/******* Containers *******/

.container {
  width: 1140px;
  max-width: 80%;
  margin: 0 auto;
}

.container-xsmall {
  width: 680px;
  max-width: 80%;
  margin: 0 auto;
}

/******* Font *******/

.heading {
  font-family: 'Kobe';
  font-weight: 400;
}

.h1 {
  font-size: 64px;
  line-height: 64px;
}

.h2 {
  font-size: 56px;
  line-height: 56px;
}

.h3 {

}

.txt {
  font-family: 'Gilroy';
  font-size: 20px;
}

.txt-small {
  font-family: 'Gilroy';
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .h1 {
    font-size: 28px;
    line-height: 28px;
  }

  .h2 {
    font-size: 22px;
    line-height: 22px;
  }

  .h3 {

  }

  .txt {
    font-size: 14px;
  }
}

.underline {
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 50%;
    @include prefix(transform, translateX(-50%), webkit moz ms o);
    width: 90%;
    height: 100%;
    background: top / contain no-repeat url('../img/underline.png');
  }
}

/******* Button *******/

.btn {
  display: inline-block;
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 150ms ease-out;
}

.btn-main {
  padding: 8px 28px;
  border: 2px solid;
  border-radius: 4px;
  border-color: #EB9E71;
  background-color: #fff;
  color: #EB9E71;
  &:hover {
    background-color: #EB9E71;
    color: #fff;
  }
}

.btn-second {
  position: relative;
  color: #EB9E71;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 50%;
    @include prefix(transform, translateX(-50%), webkit moz ms o);
    width: 90%;
    height: 100%;
    background: top / contain no-repeat url('../img/underline-orange.png');
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    @include prefix(transform, translateY(-50%), webkit moz ms o);
    width: 20px;
    height: 18px;
    margin-left: 32px;
    opacity: 0;
    background: center / contain no-repeat url('../img/arrow-right-orange.png');
    transition: all 150ms ease-out;
  }
  &:hover::after {
    margin-left: 16px;
    opacity: 1;
  }
}

.btn-full {
  width: 100%;
  text-align: center;
}

.link {
  text-decoration: underline;
  color:#EB9E71;
}


/*******************************************
----------- Header
*******************************************/

.header {
  padding: 32px 0;
  @media screen and (max-width: 800px) {
    padding: 16px 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 160px;
  @media screen and (max-width: 800px) {
    width: 120px;
  }
}

@media screen and (max-width: 960px) {
  .header__nav {
    display: none;
  }
}

.header__nav-item {
  display: inline-block;
  margin-left: 8px;
  &:first-child {
    margin-left: 0;
  }
  a {
    position: relative;
    display: block;
    padding: 8px 16px;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 500;
    color: #202020;
    &.btn {
      color: #EB9E71;
      &:hover {
        color: #fff;
      }
    }
    span {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: -8px;
        right: 0;
        width: 0;
        height: 2px;
        background-color: #202020;
        transition: all 200ms ease-out;
      }
      &:hover::before {
        width: 100%;
        right: auto;
        left: 0;
      }
    }
  }
}

/* Menu mobile */

.header__wrap-btn-menu {
  display: none;
  @media screen and (max-width: 960px) {
    display: block;
  }
}

.header__btn-menu {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.menu-mobile {
  display: none;
}

.menu-mobile__nav-item {
  border-top: 1px solid #202020;
  &:last-child {
    border-bottom: 1px solid #202020;
  }
  a {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 16px 0;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 500;
    color: #202020;
  }
}


/*******************************************
----------- Banner
*******************************************/

/*** Background ***/
.banner__background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.banner__background-img-hide {
  opacity: 0;
}

.banner__background-circle {
  opacity: 0;
  transition: opacity 150ms ease-out;
  &.active {
    opacity: 1;
  }
}
/*** End Background ***/

.banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 60vh;
  padding: 64px 0;
  //background-color: #FCF6F2;
  background: linear-gradient(180deg, #FCF6F2 0%, #FCF6F2 94%, transparent 100%);
}

.banner__wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__wrapper-title {
  text-align: center;
}

.banner__wrapper-txt {
  margin-top: 32px;
  text-align: center;
}

.banner__wrapper-btn-try {
  margin-top: 32px;
}

.banner__wrapper-btn-more {
  position: absolute;
  bottom: 10%;
  right: 10%;
  @media screen and (max-width: 800px) {
    right: auto;
    left: 50%;
    @include prefix(transform, translateX(-50%), webkit moz ms o);
  }
}


/*******************************************
----------- Presentation
*******************************************/

.presentation {
  padding: 64px 0;
}

.presentation__title {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  color: #EB9E71;
  @media screen and (max-width: 800px) {
    text-align: center;
  }
}

.presentation__content {
  display: flex;
  justify-content: flex-end;
  margin-top: 64px;
  @media screen and (max-width: 800px) {
    margin-top: 32px;
  }
}

.presentation__content-txt {
  position: relative;
  width: 60%;
  max-width: 100%;
  line-height: 42px;
  @media screen and (max-width: 800px) {
    width: 100%;
    text-align: center;
    line-height: 24px;
  }
}

.presentation__bg-circle {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  @include prefix(transform, translate(-50%,-50%), webkit moz ms o);
  width: 280px;
  height: 280px;
  background: center / contain no-repeat url('../img/circle.png');
  @media screen and (max-width: 960px) {
    display: none;
  }
}


/*******************************************
----------- Intro
*******************************************/

.intro {
  padding: 64px 0;
  .heading, .txt {
    text-align: center;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__wrap-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
  margin-top: 32px;
}

.intro__btn {
  margin-top: 32px;
}


/*******************************************
----------- Prices
*******************************************/

.prices {
  padding: 64px 0;
  .heading {
    text-align: center;
  }
}

.prices__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  width: 656px;
  max-width: 100%;
  margin: 0 auto;
}

.prices__card {
  background-color: #eee;
  padding: 16px;
  .prices__card-icon {
    display: block;
    max-width: 100px;
    margin: 0 auto;
  }
}

.prices__card-items {
  margin-top: 32px;
  padding: 0 32px;
}

.prices__card-item {
  display: flex;
  &:not(:first-child) {
    margin-top: 16px;
  }
  &.not-include {
    opacity: 0.4;
  }
  img {
    width: 16px;
    height: auto;
  }
  .txt {
    margin-left: 16px;
  }
}

.prices__card-price {
  margin-top: 32px;
  text-align: center;
}

.prices__wrap-cta {
  width: 80%;
  margin: 32px auto 0 auto;
  .btn {
    text-align: center;
  }
}


/*******************************************
----------- Reviews
*******************************************/

.reviews {
  padding: 64px 0;
  background-color: #F2F2F2;
  .heading {
    text-align: center;
  }
}

.reviews__brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 32px;
  margin-top: 32px;
}

.reviews__brand {
  text-align: center;
  img {
    width: 180px;
  }
}

.reviews__wrap-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin-top: 32px;
}

.reviews__review {
  padding: 16px;
  background-color: #C4C4C4;
}


/*******************************************
----------- Blog
*******************************************/

.blog {
  padding: 64px 0;
  background-color: #F2F2F2;
}

.blog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__title,
.blog__description {
  text-align: center;
}

.blog__posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  margin-top: 32px;
}

.blog__post-cta {
  margin-top: 32px;
}

.blog__cta {
  margin-top: 32px;
}


/*******************************************
----------- Help
*******************************************/

.help {
  padding: 64px 0;
}

.help__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10%;
  align-items: center;
  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.help__title {
  margin: 0;
}

.help__txt {
  margin-top: 16px;
}

.help__wrap-cta {
  text-align: center;
}

.help__cta {
  position: relative;
  margin-top: 32px;
  .help__cta-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%,-50%), webkit moz ms o);
    width: 280px;
    height: 280px;
    background: center / contain no-repeat url('../img/circle.png');
    @media screen and (max-width: 960px) {
      display: none;
    }
  }
}


/*******************************************
----------- Footer
*******************************************/

.footer__wrapper {
  padding: 64px 0;
  &-nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      .footer__wrap-info {
        text-align: center;
      }
    }
    .footer__logo {
      width: 160px;
    }
    .footer__nav-items {
      display: flex;
      margin: auto;
      a {
        display: block;
        padding: 8px 16px;
      }
    }
  }
  .newsletter {
    @media screen and (max-width: 800px) {
      .newsletter__txt {
        text-align: center;
      }
    }
    &__form {
      margin-top: 16px;
      @media screen and (max-width: 800px) {
        display: flex;
        justify-content: center;
      }
      input[type=text] {
        width: 260px;
        padding: 12px;
        border: 2px solid #EB9E71;
        border-radius: 4px;
        background-color: #fff;
        font-family: 'Gilroy';
        text-transform: uppercase;
        font-size: 14px;
        &::placeholder {
          color: #C4C4C4;
        }
        @media screen and (max-width: 800px) {
          width: 200px;
          font-size: 12px;
        }
      }
      button[type=submit] {
        background-color: transparent;
        border: none;
        margin-left: 16px;
      }
    }
  }
}

.footer__info-txt {
  margin-top: 16px;
}

.footer__wrap-navs {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    margin-top: 16px;
    flex-direction: column;
    text-align: center;
  }
}

.footer__navs-left {
  display: flex;
  .footer__nav-items:not(:first-child) {
    margin-left: 32px;
    @media screen and (max-width: 800px) {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 800px) {
  .footer__navs-right {
    margin-top: 16px;
  }
}

.footer__nav-items {
  display: flex;
  flex-direction: column;
}

.footer__nav-item a {
  display: block;
  padding: 8px 16px;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
  color: #202020;
}

.copyright {
  padding: 16px 0;
  background-color: #FCF6F2;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1080px) {
      flex-direction: column;
    }
    .copyright__nav-items {
      display: flex;
      @media screen and (max-width: 1080px) {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .copyright__nav-item {
          margin-top: 8px;
        }
      }
      a {
        padding: 8px 16px;
        color: #202020;
        font-family: 'Gilroy';
        font-weight: 400;
      }
    }
  }
}
